@charset "UTF-8";

/* BASIC COLORS */

:root {
    --c01: #f00;
    --c02: #ff4000;
    --c03: #ff8000;
    --c04: #ffbf00;
    --c05: #ff0;
    --c06: #bfff00;
    --c07: #80ff00;
    --c08: #40ff00;
    --c09: #0f0;
    --c10: #00ff40;
    --c11: #00ff80;
    --c12: #00ffbf;
    --c13: #0ff;
    --c14: #00bfff;
    --c15: #0080ff;
    --c16: #0040ff;
    --c17: #00f;
    --c18: #4000ff;
    --c19: #8000ff;
    --c20: #bf00ff;
    --c21: #f0f;
    --c22: #ff00bf;
    --c23: #ff0080;
    --c24: #ff0040;
}